COVID-19-Analysis.zip
Customer-360-Attribution-and-Engagement-Graph.zip
Cybersecurity-Threat-Detection-IT.zip
Data-Lineage.zip
Enterprise-Knowledge-Graph-Corporate.zip
Enterprise-Knowledge-Graph-Crunchbase.zip
Entity-Resolution-MDM.zip
Financial-Services-Payments-Fraud-Detection.zip
Fraud-and-Money-Laundering-Detection-Fin-Services.zip
Graph-Analytics-Centrality-Algorithms.zip
Graph-Analytics-Community-Detection-Algorithms.zip
Graph-Analytics-Shortest-Path-Algorithms.zip
Graph-Convolutional-Networks.zip
GSQL-101.zip
Healthcare-Graph-Drug-Interaction-FAERS.zip
Healthcare-Referral-networks-Hub-PageRank-Community-Detection.zip
In-Database-Machine-Learning-for-Big-Data-Entity-Resolution.zip
In-Database-Machine-Learning-Recommendation.zip
Low-Rank-Approximation-Machine-Learning.zip
Machine-Learning-and-Real-time-Fraud-Detection.zip
Network-and-IT-Resource-Optimization.zip
Recommendation-Engine-2.0-Hyper-Personalized-Marketing.zip
Recommendation-Engine-Movie-Recommendation.zip
Social-Network-Analysis.zip
Supply-Chain-Analysis.zip
COVID-19-Analysis_raw
Customer-360-Attribution-and-Engagement-Graph_raw
Cybersecurity-Threat-Detection-IT_raw
Data-Lineage_raw
Enterprise-Knowledge-Graph-Corporate_raw
Enterprise-Knowledge-Graph-Crunchbase_raw
Entity-Resolution-MDM_raw
Financial-Services-Payments-Fraud-Detection_raw
Fraud-and-Money-Laundering-Detection-Fin-Services_raw
Graph-Analytics-Centrality-Algorithms_raw
Graph-Analytics-Community-Detection-Algorithms_raw
Graph-Analytics-Shortest-Path-Algorithms_raw
Graph-Convolutional-Networks_raw
GSQL-101_raw
Healthcare-Graph-Drug-Interaction-FAERS_raw
Healthcare-Referral-networks-Hub-PageRank-Community-Detection_raw
In-Database-Machine-Learning-for-Big-Data-Entity-Resolution_raw
In-Database-Machine-Learning-Recommendation_raw
Low-Rank-Approximation-Machine-Learning_raw
Machine-Learning-and-Real-time-Fraud-Detection_raw
Network-and-IT-Resource-Optimization_raw
Recommendation-Engine-2.0-Hyper-Personalized-Marketing_raw
Recommendation-Engine-Movie-Recommendation_raw
Social-Network-Analysis_raw
Supply-Chain-Analysis_raw
